.job_category_list {
    padding-top: 100px;
    margin: 0 auto;
    padding-bottom: 26px;
}

.job_category_list h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 66px;
    color: #1A1919;
    text-align: center;
}

.job_category_list p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #757575;
}
.jobs_container_home{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    padding-inline: 200px;
}
.categories_container{
    display: flex;
    justify-content: space-between;
    padding-inline: 200px;
}
.Home_jobs_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.see_all_jobs{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    font-size: 18px;
    padding: 16px 22px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}
@media only screen and (max-width: 576px) {
    .categories_container{
        padding-inline: 10px;
        flex-direction: column;
        align-items: center;
    }
    .jobs_container_home{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        margin: 0 auto;
        padding-inline: 0;
    }
    .job_category_list{
        padding-top: 8px;
    }
}