.footer_holder{
    margin-top: 30px;
    background-color: #1A1919;
    padding-bottom: 100px;
    padding-inline: 200px;
}
.footer__container{
    padding-top: 110px;
    color: white;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom: 30px;
}
.footer_info{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
}
.footer_info img{
    width: 150px;
}
.footer_info p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
.footer_info_rest{
    display: flex;
    flex-direction: column;
}
.footer_info_rest h2{
    font-size: 20px;
}
.footer_info_rest p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-block: 10px;
}
.footer_last{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}
.footer_last span{
    font-weight: 700;
}
@media only screen and (max-width: 576px) {
    .footer_holder{
        background-color: #1A1919;
        padding-bottom: 30px;
        padding-inline: 10px;
    }
    .footer__container{
        padding-top: 110px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        padding-bottom: 30px;
    }
}